img{
    margin-left: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    
}

#linkedin{
    height: 25px;
    width: 25px;
}
#github{
    height: 25px;
    width: 25px;
}
table{
    background-color: darkgray;
}

 